.settingButton {
    transition: .3s;

    &.selectedAddress {
        background-color: var(--mantine-color-blue-1);
    }

    &:hover {
        background-color: var(--mantine-color-gray-1);
        transition: .3s;
    }

    &:active {
        background-color: var(--mantine-color-gray-3);
        transition: .3s;
    }

    @mixin dark {
        &.selectedAddress {
            background-color: var(--mantine-color-blue-9);
        }

        &:hover {
            background-color: var(--mantine-color-gray-8);
            transition: .3s;
        }

        &:active {
            background-color: var(--mantine-color-gray-7);
            transition: .3s;
        }
    }
}