@import "reset.css";
@import "normalize.css";

html {
    width: 350px;
    height: 580px;
}

#root {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    padding-right: .1px;
}
